/* @components/common/Pagination/styles.css */
.item {
  align-items: center;
  color: #808e9b;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border: solid 1px #0fbcf9;
  background-color: #0fbcf9;
  border-radius: 40px;
  color: white;
}

.next {
  display: none;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  margin-top: 2rem;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  display: none;
}
